* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
    opacity: .69;
}

body {
    margin: 0;
}

.header {
    display: flex;
    height: 72px;
    align-items: center;
    background-color: black;
}

.header .header__logo {
    margin-left: 150px;
    margin-right: 1171px;
}

.header .header__logo .header__img {
    width: 79px;
    height: 27px;
}

.header .header__nav {
    display: flex;
    /*align-items: center;*/
    height: 100%;
    margin-left: -582px;
    width: 441px;
    list-style: none;
}

.header .header__btn {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 23px;
}

.body__black-block {
    background-color: black;
}

.body__image {
    display: flex;
    height: 713px;
    align-items: center;
}